LIKE_API_100=https://ff.api.emonaxc.com/like?key=YSXHC6&uid={UID}
LIKE_API_200=http://amsfresh200likeapi.vercel.app/like?uid={UID}&server_name=bd
LIKE_API_SECRET=not_needed
ADMIN_TOKEN=ams_admin_2024_secret
APP_ENV=production
